apiVersion: apps/v1
kind: Deployment
metadata:
  name: zabbix-web-deployment
  namespace: zabbix-dev
  labels:
    app: zabbix-web
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: zabbix-web
  template:
    metadata:
      labels:
        app: zabbix-web
    spec:
      containers:
        - name: zabbix-web-pod
          image: zabbix/zabbix-web-nginx-pgsql
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
            - name: https
              containerPort: 8443
          resources:
            requests:
              memory: "250Mi"
              cpu: "100m"
            limits:
              memory: "500Mi"
              cpu: "125m"
